<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">



    <application
        android:allowBackup="false"
        android:icon="@drawable/aptful_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aptful_icon"
        android:supportsRtl="false"
        android:theme="@style/Theme.MyApplication"

        >

        <activity
            android:name=".loginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".loginScreen"/>-->
        <activity android:name=".keywordShopScreen"/>
        <activity android:name="mypageScreen"/>
        <activity android:name="signupOne"/>
        <activity android:name="signupTwo"/>
        <activity android:name="signupThree"/>
        <activity android:name="configScreen"/>
        <activity android:name=".checkAccountScreen"/>
        <activity android:name=".ruleScreen"/>
        <activity android:name=".deleteAccountScreen"/>
        <activity android:name="searchScreen"/>
        <activity android:name="couponScreen"/>
        <activity android:name="keywordListScreen"/>
        <activity android:name=".keywordEditScreen"/>
        <activity android:name=".detailShopScreen"/>
        <activity android:name=".newsListScreen"/>
        <activity android:name=".newsCouponScreen"/>
        <activity android:name=".newsKeywordScreen"/>
        <activity android:name=".favShopScreen"/>


        <!--QRコード-->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />



    </application>

</manifest>