<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".loginScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="mypageScreen"></activity>
        <activity android:name="signupOne"></activity>
        <activity android:name="signupTwo"></activity>
        <activity android:name="signupThree"></activity>
        <activity android:name=".newsListScreen"></activity>
        <activity android:name=".configScreen"></activity>
        <activity android:name=".searchScreen"></activity>
        <activity android:name=".favShopScreen"></activity>
        <activity android:name=".couponScreen"></activity>
        <activity android:name=".keywordListScreen"></activity>
        <activity android:name=".official"></activity>
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

    </application>

</manifest>